.addcard {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.addcard.active {
  visibility: visible;
  display: block;
}

.popup_card {
  max-width: 430px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 330px;
  margin: 45px auto 45px auto;
}
.card__form-add {
  max-width: 430px;
  width: 100%;
  height: 330px;
  border: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: content-box;
  border-radius: 10px;
}

.form__fieldset {
  flex-direction: column;
  justify-items: center;
  background-color: #ffffff;
  border: none;
}
.form__close-button-card {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1150px;
  top: 260px;
  background-image: url("../images/CloseIcon.png");
  background-repeat: no-repeat;
}
.form__close-button-card:hover {
  background-image: url("../images/CloseIconhover.png");
}
.card__form-tittle {
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.form__label {
  background-color: #ffffff;
  color: #c4c4c4;
}
.form__input {
  background-color: #ffffff;
  padding: 20px;
  width: 358px;
  height: 27.26px;
  border-bottom-color: #000000;
  border: none;
}

.buttonsave {
  background-color: #ffffff;
  color: #c4c4c4;
  width: 358px;
  height: 55px;
  border-radius: 2px;
  margin-top: 20px;
  border-color: #c4c4c4;
  cursor: pointer;
}
.buttonsave:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .form__close-button-card {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 855px;
    top: 230px;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .form__close-button-card {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 599px;
    top: 200px;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 320px) {
  .popup_card {
    max-width: 282px;
    height: 322px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;

    margin: 45px auto 45px auto;
  }
  .form__input {
    background-color: #ffffff;
    padding: 20px;
    width: 238px;
    height: 25px;
  }
  .form__label {
    width: 198px;
    height: 25px;
  }
  .form__button {
    max-width: 238px;
    height: 46px;
  }
  .form__close-button-card {
    max-width: 26px;
    height: 26px;
    position: absolute;
    left: 255px;
    top: 190px;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
