.element__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-left-radius: 10px;
}
.element {
  width: 282px;
  height: 361px;
  background: #ffffff;
}
.element__image {
  object-fit: cover;
  height: 282px;
  width: 100%;
}
element__info {
  background-color: #ffffff;
}
element__name {
  color: black;
}
